# -------------------------------------------------------------------
# GLOBAL NODE
# -------------------------------------------------------------------
node_modules/

# -------------------------------------------------------------------
# ENV FILES
# -------------------------------------------------------------------
backend/env/.env

# -------------------------------------------------------------------
# BACKEND BUILD / TEMP FILES
# -------------------------------------------------------------------
backend/dist/
backend/tmp/
backend/.cache/

# -------------------------------------------------------------------
# OPERATING SYSTEM TRASH / TEMP
# -------------------------------------------------------------------
.DS_Store
Thumbs.db

# -------------------------------------------------------------------
# GIT CLEANUP
# -------------------------------------------------------------------
*.swp
*.swo
