// ==============================================================================================
// BUTTONS & LINKS - Styles
// ==============================================================================================
// This file contains all styles for:
//  - Buttons (info, danger, warning, success, disabled)
//  - Links (navbar, menu, text, body, footer)
//
// ==============================================================================================

@use "../base/variables" as *;
@use "../mixins" as *;

// ----------------------------------------------------------------------------------------------
// 1. BUTTONS
// ----------------------------------------------------------------------------------------------
// Automatically adapted to the class defined in HTML.
// $type: default, ghost, full-ghost
// $variant: info, danger, warning, success, disabled
// Classes:
//  btn-{type}-{variant}
//  btn-{type}-{variant}-with-icon
//  btn-{type}-{variant}-icon
//

$input-types: fill, ghost;
$input-variants: default, warning, error;

@each $type in $input-types {
  @each $variant in $input-variants {
    .input-#{$type}-#{$variant} {
      @include input($type, $variant);
    }

    .input-#{$type}-#{$variant}-placeholder {
      @include input($type, $variant);
    }
  }
}

// ----------------------------------------------------------------------------------------------
// 2. SELECTS
// ----------------------------------------------------------------------------------------------
// Automatically adapted to the class defined in HTML.
// $type: default, ghost, full-ghost
// $variant: info, danger, warning, success, disabled
// Classes:
//  btn-{type}-{variant}
//  btn-{type}-{variant}-with-icon
//  btn-{type}-{variant}-icon
//

@supports (
  (-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)
) {
  select {
    width: 100%;
    border: none;
    background-color: $light-blue;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.6rem 2rem;
    border: 1px solid $secondary;
    border-radius: 50px;

    &:focus {
      outline: none;
      border: 4px solid $tertiary;
    }
  }

  .custom-select {
    vertical-align: middle;
    display: inline;
    position: relative;
    justify-content: space-between;

    &::after {
      content: url("../assets/icons/navigation/dropdown.png");
      color: $secondary;
      position: absolute;
      height: 1.8rem;
      width: 1.8rem;
      right: 20px;
      top: 0;
    }
  }
}

// ----------------------------------------------------------------------------------------------
// 3. SEARCH
// ----------------------------------------------------------------------------------------------
// Automatically adapted to the class defined in HTML.
// $type: default, ghost, full-ghost
// $variant: info, danger, warning, success, disabled
// Classes:
//  btn-{type}-{variant}
//  btn-{type}-{variant}-with-icon
//  btn-{type}-{variant}-icon
//

.search {
  display: flex;
  align-items: center;

  input {
    border-top: none;
    border-left: none;
    border-right: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
    box-sizing: border-box;
    padding: 6px 6rem 6px 2rem;
    color: $black;
    height: 3.8rem;

    &::placeholder {
      color: $dark-gray;
      font-size: 1.6rem;
    }

    &:focus {
      color: $black;
      outline: 1px solid $yellow;
      font-size: 1.4rem;
    }
  }

  button {
    position: absolute;
    top: 0.6rem;
    right: 20rem;
  }
}

// ----------------------------------------------------------------------------------------------
// 4. CHECKBOX & RADIO
// ----------------------------------------------------------------------------------------------
// Automatically adapted to the class defined in HTML.
// $type: default, ghost, full-ghost
// $variant: info, danger, warning, success, disabled
// Classes:
//  btn-{type}-{variant}
//  btn-{type}-{variant}-with-icon
//  btn-{type}-{variant}-icon
//

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  border: 1px solid $secondary;
  border-radius: 3px;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
}

input[type="checkbox"] + label:hover::before {
  border: 4px solid $secondary;
}

label:hover {
  color: $secondary;
}

input[type="checkbox"]:checked + label::before {
  background: url(../assets/icons/action/checkbox.png);
}
