// ==============================================================================================
// MIXINS - Breakpoints & Helpers
// ==============================================================================================
// This file contains all global mixins:
//  - Breakpoints for responsive design
//  - Reusable helpers
//
// ==============================================================================================

@use "sass:map";
@use "../base/variables" as *;

// ----------------------------------------------------------------------------------------------
// 1. MEDIA QUERIES
// ----------------------------------------------------------------------------------------------
// Use:
// @include tablet { font-size: 1.4rem }
// @include desktop { font-size: 2rem }
// @include large { font-size: 2.6rem }
//

// Tablet (≥ 768px)
@mixin tablet {
  @media (min-width: #{$bp-sm}) {
    @content;
  }
}

// Desktop (≥ 1024px)
@mixin desktop {
  @media (min-width: #{$bp-md}) {
    @content;
  }
}

// Large (≥ 1200px)
@mixin large {
  @media (min-width: #{$bp-lg}) {
    @content;
  }
}

// Extra large (≥ 1440px)
@mixin extra-large {
  @media (min-width: #{bp-xl}) {
    @content;
  }
}

// ----------------------------------------------------------------------------------------------
// 2. TEXT STYLES
// ----------------------------------------------------------------------------------------------
// Define a complete text style in one line.
// Use:
// @include text-style(700, 1.6rem, normal, 1.4)
//

@mixin text-style($weight, $size, $style, $line) {
  font-weight: $weight;
  font-size: $size;
  font-style: $style;
  line-height: $line;
}

// ----------------------------------------------------------------------------------------------
// 3. BUTTONS
// ----------------------------------------------------------------------------------------------
// Define the different styles of each type of button (default, ghost, full ghost)
// $type: default | ghost | full-ghost
// $variant: blue | danger | warning | success | disabled
// $icon & $text: true / false
//

@mixin btn($type, $variant, $icon: false, $text: true) {
  border-radius: 5rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  height: 40%;
  width: auto;

  $base-color: map.get($btn-colors, $variant, base);
  $hover-color: map.get($btn-colors, $variant, hover);

  // ICON ONLY - No text, rounded button, large icon
  @if $icon == true and $text == false {
    text-align: center;
    padding: 0.4rem;
    width: 3.2rem;
    height: 3.2rem;

    svg {
      width: 100%;
      height: 100%;
    }

    //TYPE: FULL-GHOST - No background, no border, same hover than default
    @if $type == full-ghost {
      background: transparent;
      color: $base-color;
      border: none;

      &:hover {
        background: $base-color;
        color: $white;
      }

      svg {
        color: $base-color;

        &:hover {
          color: $white;
        }
      }
    }

    // TEXT - Button with text, with or without icon
  } @else if $text == true {
    padding: 0 3rem;

    // WITH ICON - Small icon
    @if $icon == true {
      svg {
        margin-left: 1rem;
        width: 1rem;
        height: 1rem;
      }
    }
  }

  // TYPE: DEFAULT - Colored background, no border, text white
  @if $type == default {
    background: $base-color;
    stroke-width: 3;
    color: $white;
    border: none;

    &:hover {
      @if $hover-color != null {
        background: $hover-color;
      }
    }
  }

  // TYPE: GHOST - Transparent background, colored border and text
  @if $type == ghost {
    background: transparent;
    color: $base-color;
    border: 1px solid $base-color;

    &:hover {
      @if $hover-color != null {
        border-color: $hover-color;
        color: $hover-color;
      }
    }
  }

  // TYPE: FULL GHOST - No background, no border, colored text only
  @if $type == full-ghost {
    background: transparent;
    color: $base-color;
    border: none;

    &:hover {
      @if $hover-color != null {
        color: $hover-color;
        text-decoration: underline;
      }
    }
  }

  // VARIANT: DISABLED - No hover, cursor changed
  @if $variant == disabled {
    cursor: not-allowed;
  }
}

// ----------------------------------------------------------------------------------------------
// 4. LINKS
// ----------------------------------------------------------------------------------------------
// Define the different styles of each type of link (without icon and with icon)
// $variant: navbar | menu | classic | text | body | footer | button
// $icon: true / false
//

@mixin link($variant, $icon: false) {
  $base-color: map.get($link-colors, $variant, base);
  $hover-color: map.get($link-colors, $variant, hover);
  $focus-color: map.get($link-colors, $variant, focus);
  $focus-outline: 1px dotted $focus-color;
  transition: text-decoration 2s ease-out, color 0.3s ease-in-out;

  // VARIANT: NAVBAR - Black, underlined in hover, color changed, focus available
  @if $variant == navbar {
    color: $base-color;
    text-align: center;
    padding-bottom: 2rem;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 2rem;
      color: $hover-color;
    }

    &:focus {
      text-decoration: underline;
      text-underline-offset: 2rem;
      color: $hover-color;

      outline: $focus-outline;
      outline-offset: 1rem;
    }
  }

  // VARIANT: MENU - Black, blue in hover, no underline, focus available
  @if $variant == menu {
    color: $base-color;
    text-align: center;

    &:hover {
      color: $hover-color;
    }

    &:focus {
      color: $hover-color;

      outline: $focus-outline;
      outline-offset: 1rem;
    }
  }

  // TYPE: WITHOU ICON
  @if $icon == false {
    // VARIANT: CLASSIC - Blue, underlined, focus available
    @if $variant == classic {
      color: $base-color;
      text-decoration: underline;

      &:hover {
        color: $hover-color;
      }

      &:focus {
        color: $hover-color;
        outline: $focus-outline;
      }
    }

    // VARIANT: TEXT - Black, underlined, focus available
    @if $variant == text {
      color: $base-color;
      text-decoration: underline;

      &:hover {
        color: $hover-color;
      }

      &:focus {
        color: $hover-color;
        outline: $focus-outline;
      }
    }

    // VARIANT: CARD - Blue, underlined in hover, color changed, focus available
    @if $variant == card {
      color: $base-color;
      text-align: center;

      &:hover {
        color: $hover-color;
        text-decoration: underline;
      }

      &:focus {
        color: $hover-color;
        text-decoration: underline;

        outline: $focus-outline;
        outline-offset: 0rem 1rem;
      }
    }

    // VARIANT: FOOTER - White, underlined in hover, no focus available
    @if $variant == footer {
      color: $base-color;

      &:hover {
        color: $hover-color;
        text-decoration: underline;
      }
    }
  } @else {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    @if $variant == body {
      color: $base-color;
      padding: 0 0 1rem;

      &:hover {
        color: $hover-color;
        border-bottom: 1px solid $hover-color;
      }

      &:focus {
        color: $hover-color;
        border-bottom: 1px solid $hover-color;

        outline: $focus-outline;
      }
    }

    @if $variant == button {
      color: $base-color;
      padding: 2rem 1rem;
      border-left: 1px solid $base-color;

      &:hover {
        color: $hover-color;
        border-left: 2px solid $hover-color;
        background: map.get($link-colors, $variant, background-hover);
      }

      &:focus {
        color: $hover-color;
        border-left: 2px solid $hover-color;
        background: map.get($link-colors, $variant, background-hover);

        outline: $focus-outline;
      }
    }
  }
}

// ----------------------------------------------------------------------------------------------
// 4. FORMS
// ----------------------------------------------------------------------------------------------
// Define the different styles of each type of fields (fill, ghost)
// $type: fill | ghost
// $variant: default | warning | error
//

@mixin input($type, $variant) {
  width: 100%;
  height: auto;
  padding: 0.6rem 2rem;
  border-radius: 5rem;

  $fill-color: map.get($input-colors, $variant, fill);
  $border-color: map.get($input-colors, $variant, border);
  $focus-color: map.get($input-colors, $variant, focus);

  @if $type == fill {
    background-color: $fill-color;
    border: 1px solid $border-color;

    &:focus {
      outline: 1px solid $focus-color;
    }
  }

  @if $type == ghost {
    background-color: $white;
    border: 1px solid $border-color;

    &:focus {
      outline: 1px solid $focus-color;
    }
  }

  &::placeholder {
    color: $dark-gray;
  }
}
