// Import

@use "./variables" as *;
@use "../mixins" as *;

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/Graphik-Regular-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Graphik", sans-serif;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiase;
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

svg {
  width: 3.2rem;
  height: 3.2rem;
}
